#estimate-form {

}

#estimate-form label {
  padding-right: 1em;
}

#estimate-form input {
  padding-right: 1em;
}

#estimate-form .value {
  padding-right: 1em;
  width: 18%;
}

#estimate-form .value label {

}

#estimate-form .value input {
  width: 5em;
}

#estimate-form .comment {
  width: 74%;
}

#estimate-form .comment label {
  width: 12%;
}

#estimate-form .comment input {
  width: 88%;
}

#estimate-form .submit-button {
  width: 8%;
  padding-left: 1em;
}

#topic-input {
  width: 100%;
}