<div class="modal-header">
    <h4 class="modal-title">Register</h4>
</div>
<form novalidate name="user" data-role="form">
    <div class="modal-body">
        <div class="form-group"
             data-ng-class="{'has-error': user.name.$invalid && user.name.$dirty}">
            <label class="control-label"
                   for="username">
                What would you like to be called?
            </label>

            <div class="col-sm-10">
                <input id="username"
                       required
                       pattern=".*\w.*"
                       maxlength="32"
                       data-ng-model="user.name"
                       class="form-control"
                       type="text"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"
                type="submit"
                data-ng-click="register(user)"
                data-ng-disabled="user.$invalid">Register</button>
    </div>
</form>
